{block content}
<section id="about">
    <div class="container">
        <header class="section-header">
            <h2 n:block=title>Přidat oddíl</h2>
            <hr>
            <a n:href="Content:default" class="btn btn-outline-success">Zpět na Oddíly</a>
        </header>
        <br>
        <div class="row">
            <div class="col-lg-12">
                {include bootstrap-form sectionForm}
            </div>
        </div>
    </div>
</section>