{block content}
<section id="portfolio">
    <div class="container">

        <header class="section-header">
            <h2 class="section-title">Upravit kategorii fotografií</h2>
        </header>
        <hr>
        <a n:href="Gallery:addAlbum" class="btn btn-outline-success">Zpět na alba</a>

        <div class="row">
            <div class="col-lg-6">
                {include bootstrap-form galleryAlbumForm}
            </div>
        </div>
    </div>
</section>